
h1:not(.title) {
    font-size:30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    border-color:#4e8f93;
    margin-top: 25px;
}

h2 {
    font-size:23px;
    border-bottom: none;
    margin-top: 25px;
    
}

a {
  color:#fd8e4d;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #4e8f93 !important;
  border-color: #4e8f93 !important;
}

code:not(.hljs) {
  color: blue !important;
}

div img {
    float: left;
    margin-right: 10px;
}
div p {
    overflow: auto;
}
